/* Estilo para el texto en Curso */
.texto {
  font-family: "Comic Neue", cursive;
  font-size: 20px;
  text-align: justify;
}
.card-info {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  align-items: flex-end;
}

/*Espacio entre los cursos y título Cards y Etiquetas*/
.container {
  margin-bottom: 100px;
}

/*Estilo boton añadir al carrito*/

.btn {
  width: auto;
  height: auto;
  color: white;
  background-color: #f87575;
}
.btn:hover {
  background-color: #fa7979;
  font-size: 110%;
  color: white;
}

/*Estilos de las cards*/
.card {
  width: 18rem;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-direction: column;
  border-radius: 5%;
}
/*IMAGEN DE LAS CARDS PADING Y TAMAÑO*/
.card-img-top {
  width: 100%;
  height: 130px;
  padding-top: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Estilo para el título principal */
h5.card-title {
  color: #d84a40;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.card-text {
  color: #828282;
  font-family: "Neue", sans-serif;
  font-size: medium;
  flex-grow: 20;
}
.card-img-top {
  width: 100%;
  height: 130px;
  object-fit: cover;
  top: 0;
  left: 0;
  border-radius: 10%;
}

/*Centra las cards*/
#list-items,
#etiquetas-items {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

body {
  grid-template-rows: auto 1fr auto; /* Divide la página en tres filas: auto, 1fr (fraccionada) y auto */
  min-height: 100vh; /* Establece el alto mínimo del cuerpo para ocupar al menos toda la altura de la ventana */
}

/*Efecto para resaltar la card*/
.card:hover {
  box-shadow: 5px 5px 15px rgba(229, 0, 0, 0.5);
  width: 19rem;
  transition: 300ms;
  .card-img-top {
    border-radius: 5%;
  }
}
